/* Page Body Style */
html,
body {
    /* Fix Body Scroll Content */
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-image: url("godzilla.webp");
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

/* Navbar Style */
.navbar {
    background-color: #000 !important;
    opacity: 1.0;
    background-repeat: repeat-x;
    border-bottom: 2px solid #FFD400;
}

.navbar-nav .nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FF9900 !IMPORTANT;
}

/* Add Padding to Top Of Body */
.page {
    padding-top: 20px;
}

/* Show Sidebars */
.ttsidebar {
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
}

@media only screen and (max-width: 1300px) {
    .ttsidebar {
        display: none !important;
    }
}

/* Define the spacing between center contents and side bars */
.col {
    padding-right: 10px;
    padding-left: 10px;
}

/* Center Content With */
.ttform {
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 2.3rem !important;
}

@media only screen and (min-width: 1300px) {
    .ttform {
        width: 50% !important;
    }
}

@media only screen and (max-width: 1300px) {
    .ttform {
        max-width: 95% !important;
    }
}

/* Div With Border */
.ttborder {
    border: 2px solid #FFD400 !important;
    background: transparent;
    padding-bottom: 2px;
    color: #fff;
    background-color: #000 !important;
    opacity: 0.8;
}

/* Mix Colours Round */
.ttblend {
    border: 1px solid #FFD400 !important;
    background-repeat: repeat-x;
}

/* Fix Color */
.browsebg {
    background: #000 !important;
}

/* Card Style */
.card {
    background-color: #000 !important;
    opacity: .9;
    border: 5px solid #FFD400;
    border-image-slice: 1;
    border-width: 2px;
    color: #fff;
    border-radius: 0.5rem;
}

/* Frame Style */
.frame-header {
    color: #FFD400;
    background-repeat: repeat-x;
    border-bottom: 0px;
    padding-top: 0;
    height: 25px;
}

.frame-body {
    color: #fff;
}

/* Block Style */
.block-header {
    color: #FFD400;
    background-repeat: repeat-x;
    border-bottom: 0px;
    padding-top: 0;
    height: 25px;
}

.block-body {
    color: #fff;
    padding: 0.07rem;
}

.block-footer {
    height: 20px !important;
}

/* Icon Style */
.tticon {
    color: #fff !important;
    padding: .075rem .25rem;
}

.tticon-red {
    color: #FF9900 !important;
    padding: .075rem .25rem;
}

/* Button Style */
.ttbtn {
    color: #fff !IMPORTANT;
    padding: .075rem .25rem;
    border: 1px solid #FFD400 !important;
}

.ttbtnactive {
    color: #fff !important;
    border: 1px solid #FFD400 !important;
    padding: .075rem .25rem;
}

.ttbtn:hover {
    color: #FF9900 !important;
    border: 1px solid #FFD400 !important;
}

.ttbbcode {
    color: #FF9900 !important;
    border: 1px solid #FFD400 !important;
    height: 20px;
    padding: 4px;
}

/* Search User To PM */
#country-list{list-style:none;width:190px;}
#country-list li{padding: 10px; color: #fff; background: #000; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#242424; color: #ff9900;cursor: pointer;}
#search-box{padding: 10px;border: #FFD400 1px solid;border-radius:4px;}

/* Styles ShoutBox */
.shoutbox_contain {
    border: 0;
    height: 250px;
    width: 100%;
    overflow: auto;
}

.shoutbox_msgbox {
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #FFD400;
}

.shouttable {
    padding: .05rem .05rem !important;
}

.shoutsmile {
    flex-direction: row !important;
}

/* Table Style*/
.table thead th {
    color: #FFD400;
    background-color: transparent;
    border: 1px solid #FFD400;
    height: 25px !important;
    padding: .15rem;
}

.table {
    color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    color: #fff !important;
}

tr:nth-child(odd) {
    background: transparent !important;
}

tr:nth-child(even) {
    background-color: #121212 !important;
    opacity: 0.9;
}

/* Link Style*/
.a {
    color: #ff9900 !important;
}

/* List Style*/
.list-group-item {
    color: #fff;
    background-color: transparent !important;
}

/* Form Style*/
.form-control,
.form-control:focus {
    color: #fff;
    background-color: #121212 !important;
    opacity: 0.9;
    border: 1px solid #FFD400 !important;
    box-shadow: none;
}

button,
input,
optgroup,
select,
textarea {
    color: #fff;
    background-color: #121212 !important;
    opacity: 0.9;
    border: 1px solid #FFD400 !important;
}

/* Dropdown Style */
.dropdown-item {
    color: #FFF;
    background-color: #000 !important;
}

.dropdown-item:hover {
    color: #ff9900 !IMPORTANT;
}

.dropdown-menu {
    color: #fff;
    background-color: #000 !important;
}

/* Ballon Style */
.progress-bar {
    color: #fff;
}

/* Ballon Style */
.ballooncolor {
    color: #fff;
    background-color: #151217;
}

.balloonheadercolor {
    background-repeat: repeat-x;
    color: #fff;
}

/* Pagination Style */
.pagination-sm .page-link {
    color: #FFD400;
    background: transparent;
}

.page-item.disabled .page-link {
    color: #FFD400;
    background: transparent;
}

.page-item.active .page-link {
    color: #ff9900;
    background: transparent;
}

/* Auto Fit Div/Image */
.scaleA {
    width: 100%;
    max-width: max-content;
}

/* Carousel Style */
@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-control-prev-icon {
    background-color: #FFD400;
}

.carousel-control-next-icon {
    background-color: #FFD400;
}